<style type="text/css"> 

#user {
    /*position:fixed;*/
    top:0;
    right:30;
    /* z-index:100; */
	
}

#titre:link, #titre:link, #titre:hover, #titre:active{
	text-align: center;
	font-family: garamond;
	underline: false;
	color: #7D3232;
	
}

#footer{
/*	position: fixed;
	bottom:0;
	center:true; 
	background-color: #F7F5F0; */
}

.no-underline:hover {
    text-decoration: none;
}

</style>


<!DOCTYPE html>
<html>
	
    <head>
    	<meta charset="UTF-8" />
        <title>{% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>
	<!-- CONTAINER 1 | header-->
        <div class="container">
		<!-- Premiere ligne: état de la connexion de l'utilisateur -->
				<div class="row">
				<div class="col-lg-12">
				{% block header2 %}
					<div id="user" style='float:right;'>
						Vous etes connecte en tant que : $Visiteur
					</div>
				{% endblock %}
				</div>
				</div>
		</div>
		
	<!-- CONTAINER 2 | body et footer -->
		<div class="container">
			<!-- bloc central -->
			<div class="row">
				<div class="col-lg-12">
				{% block header1 %}
					<a href="http://narratioweb-haize.c9users.io/NarratioWeb/web/app_dev.php/accueil" class="no-underline" id="titre"> 
						<h1><big><big>NarratioWeb</big></big></h1>
					</a>
				{% endblock %}
				
				</div>
				<div class="col-lg-12" >
				{% block body %} {% endblock %}
				</div>
			</div>
		
			<!-- pied de page -->
			<div class="row">
				<div class="col-lg-12" id="footer">
					{% block footer %}
						<div style='float:left;'>
							Projet NarratioWeb dans le cadre du DUT Informatique.
						</div>
						<div style='float:right;'>&copy; IUT Bayonne Pays Basque</div> 
						<div align="center">
							<a href= "https://www.iutbayonne.univ-pau.fr/"> IUT de Bayonne et du Pays Basque </a>
						</div>
					{% endblock %}
				</div>
			</div>	
		</div>
		
        {% block javascripts %}{% endblock %}
        <body style="background-color: #DED9B7">
    </body>
</html>
