{% extends 'vueMere.html.twig' %}

{% block body %}



<style type="text/css">

   #erreur{
      color:#F6EFD2;
      text-align:center;
      font-size:25px;
      font-family: garamond;
      background-color:#212524;
      text-decoration:none;
      border-radius: 25px 10px / 10px 25px;
      border-radius: 25px 10px / 10px 25px;
   }

</style>


<br>

<div id=erreur>

<center>

<br>

    Aucune oeuvre ne correspond à votre recherche.

<br>
<br>

</center>

</div>

<br>

{% endblock %}