{%extends 'vueMere.html.twig' %}


{% block body %}

<ul>
    {% for item in menu %}
                

                    <a href="{{ path(item.route) }}"><i class="icon-{{ item.icon }}"></i> {{ item.libelle }}</a>
                </li>

    {% endfor %}
</ul>

{% endblock %}