{% extends 'vueMere.html.twig' %}


{% block body %}
    
<div class="col-sm-3">
    {% include "NarratioWebOeuvresBundle:Default:menuLateral.html.twig" %}
</div>

<div class="col-sm-9">
    <div class="panel-heading" align="center"> <h2> Sélection des critères</h2></div>
        <form method = "post" {{ form_enctype(form)}}>
            
            {#form_widget(createurFormulaire)#}
            <br>
            <br>
            <div class="col-sm-4">
                <div style='float:left;'><center>Tranche d'Age : </center>{{form_widget(form.TrancheAge)}}</div>
            </div>
            <div class="col-sm-4">
                <div style='float:left;'><center>Epoque : </center>{{form_widget(form.Epoque)}}</div>
            </div>
            <div class="col-sm-4">
                <div style='float:left;'><center>Genre : </center>{{form_widget(form.Genre)}}</div>
            </div>
            
            <br>
            <br>
            <br>
            <br>
            
            <div class="col-sm-2"></div>
            
            <div class="col-sm-4">
                
                <a href="http://narratioweb-haize.c9users.io/NarratioWeb/web/app_dev.php/rechercheAvancee">
                     
                    <div style='float:left;'><input type="button" class="btn btn-primary" value="Plus de caracteristiques" href="http://narratioweb-haize.c9users.io/NarratioWeb/web/app_dev.php/rechercheAvancee"/>
                    </div>
                
                </a>
            </div>
            
            <div class="col-sm-4">
                
                <div style='floatcenter;'><input type="submit" class="btn btn-primary" value="Random"/>
                </div>
            </div>
        </form>
</div>

{% endblock %}




