{% extends 'vueMere.html.twig' %}

{% block body %}

<div class="container" style="background-color: #F7F5F0">
    <div class="row">
        
        <!-- menu déroulant -->
        <div class="col-xs-3">
            {% include "NarratioWebOeuvresBundle:Default:menuLateral.html.twig" %}
        </div>
        
        <!-- partie principale de la page d'accueil -->
        <div class="col-xs-9">
            <!-- <div class="panel-heading" align="center"> <h2> Sélection des critères</h2></div> -->
        <form method = "post" {{ form_enctype(form)}}>
            
            {#form_widget(createurFormulaire)#}
            <br><br>
            
            <!-- premiere liste déroulante | Tranche Age-->
            <div class="col-xs-4">
                <div style='float:left;'>
                    <center><b>Tranche d'Age</b></center>{{form_widget(form.TrancheAge)}}
                </div>
            </div>
            
            <!-- seconde liste déroulante | Epoque-->
            <div class="col-xs-4">
                <div style='float:left;'>
                    <center><b>Epoque</b></center>{{form_widget(form.Epoque)}}
                </div>
            </div>
            
            <!-- troisieme liste déroulante | Genre-->
            <div class="col-xs-4">
                <div style='float:left;'>
                    <center><b>Genre</b></center>{{form_widget(form.Genre)}}
                </div>
            </div>
            
            <br><br><br><br>
            
            <div class="col-lg-2"></div>
            
            <!-- bouton pour acceder à la recherche avancée-->
            <div class="col-lg-4">
                <a href="http://narratioweb-haize.c9users.io/NarratioWeb/web/app_dev.php/rechercheAvancee">
                    <div style='float:left;'><input type="button" class="btn btn-default" value="Plus de caracteristiques" href="http://narratioweb-haize.c9users.io/NarratioWeb/web/app_dev.php/rechercheAvancee"/>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-4">
                <!-- bouton pour acceder à une oeuvre random -->
                <div style='float:center;'><input type="submit" class="btn btn-warning" value="Random"/>
                </div>
            </div>
        </form>
</div>
</div>
</div>

{% endblock %}
