<div class="well">
    <h2 align="center"> Menu </h2><br/>
	<div class="inner-addon left-addon">
    	<i class="glyphicon glyphicon-zoom-in" align="center"></i>
    <input type="text" class="form-control" placeholder="Rechercher"/>
    </div>
    
	<h4 align="center">Liste des nouveautés<br/></h4>
		{% for oeuvreCourante in tabOeuvreNew %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':oeuvreCourante.id})}}" class="list-group-item"> {{oeuvreCourante.nom}} </a>
		{%else%}
		Aucune nouveauté
		{%endfor%}<br/>
		
	
	<h4 align="center">Oeuvres les plus vues<br/></h4>
		{% for oeuvreCourante in tabOeuvreVues %}
		<a href="{{path('narratio_web_oeuvres_oeuvreMenu', {'id':oeuvreCourante.id})}}" class="list-group-item"> {{oeuvreCourante.nom}} </a>
		{%else%}
		Aucune donnée
		{%endfor%}
	
</div>