<div class="well">
     <h3> Menu </h3><br/>
	<div class="inner-addon left-addon">
    <i class="glyphicon glyphicon-zoom-in"></i>
    <input type="text" class="form-control" placeholder="Rechercher"/>
    </div>
	<h4>Films<br/></h4>
	liste nouveautes<br/>0

	liste plus vus<br/>
	
	<h4>Livres<br/></h4>
	liste nouveautes<br/>
	
	liste plus lus<br/>
	
</div>